/* Accordion.css */
.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  background-color: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.accordion-title:hover {
  background-color: #e7e7e7;
}

.accordion-content {
  padding: 15px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}