.content-box {
  background: #fff;
  display: flex;
  text-align: left;
  flex-wrap: nowrap;

  a {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 24px 0;
    display: block;
  }
}

.content-box.Left {
  .content-wrapper.text-left {
    padding-right: 10rem;
  }
}

.content-box.Right {
  .content-wrapper.text-right {
    padding-left: 10rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-box {
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding-inline: 2rem;

    img {
      max-width: 100%;
      width: 100%;
      padding-bottom: 2rem;
    }
    .content-wrapper {
      margin: 0 auto;
      text-align: center;
    }
  }

  .content-box.Left {
    flex-wrap: wrap;

    .content-wrapper {
      padding-right: 0;
    }
  }

  .content-box.Right {
    .content-wrapper.text-right {
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-box {
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: nowrap;

    img {
      width: 50%;
    }
  }

  .content-box.Left {
    flex-wrap: wrap;

    .content-wrapper {
      padding-right: 0;
    }
  }

  .content-box.Right {
    .content-wrapper.text-right {
      padding-left: 0;
    }
  }
}
